* {
    margin: 0;
    padding: 0;
	font-family: 'Aldrich', sans-serif;
}

.row {
    width: 70%;
    margin: 0 auto;
}

header {
    padding: 50px 0;
    background-color: #dad5cb;
}

header h1 {
	font-family:Aldrich, cursive;
    text-align: center;
    font-size: 60px;
    font-weight: 100;
	color: #7a0000;
}

header h3 {
    font-family: Aldrich, cursive;
    text-align: center;
    font-size: 20px;
    font-weight: 10;
    color: #7a0000;
}

.social-icons, .main-menu {
    list-style: none;
    text-align: center;
    margin-top: 25px;
}


.personal-attributes .icon {
    padding: 0;
    color: #7a0000;
    font-size: 10px;
}

.social-icons li {
    display: inline-block;
    padding: 0 5px;
}

.social-icons li a {
    color: #7a0000;
    font-size: 25px;
}

.main-menu {
    margin: 0;
    background-color: #7a0000;
}

.main-menu li {
    display: inline-block;
}

.main-menu li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 900;
    transition: all 0.3s;
}

.main-menu li a:hover {
    background-color: #7a0000;
}

section {
    padding: 50px 0;
}

#about-section {
    margin-top: 50px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-box {
    width: 65%;
}

.center-box-text {
    width: 100%;
}

.right-box {
    width: 30%;
}

.right-box img {
    border-radius: 10%;
    width: 100%;
    border: 7px solid #7a0000;
    background-color: #7a0000;
}

.center-box {
    width: 100%;
}

.center-box img {
    border-radius: 10%;
    width: 100%;
    border: 7px solid #7a0000;
    background-color: #7a0000;
}

.left-box h1, .center-box-text h1, .title {
    text-transform: uppercase;
}

.left-box p {
    text-align: justify;
    margin-top: 15px;
    font-weight: 100;
    font-size: 18px;
    line-height: 26px;
}

.center-box-text p {
    text-align: justify;
    margin-top: 15px;
    font-weight: 100;
    font-size: 18px;
    line-height: 26px;
}

.img-container {
    margin-top: 25px;
}

.img-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.img-list li {
    display: inline-block;
    width: 50%;
}

.img-list li a {
    display: block;
}

.img-list li a img {
    display: block;
    width: 80%;
	margin-bottom: 2%;
    border: 7px solid #7a0000;
    background-color: #7a0000;
}

hr {
    width: 60px;
    height: 2px;
    border: none;
    margin-top: 5px;
    background-color: #7a0000;
}

@media only screen and (max-width: 960px) {
    
    .content {
        flex-wrap: wrap;
    }
    
    .right-box {
        text-align: center;
        width: 100%;
        margin-bottom: 50px;
    }

    .center-box {
        text-align: center;
        width: 100%;
        margin-bottom: 50px;
    }

    .left-box {
        width: 100%;
    }
    
    .right-box img {
        border-radius: 250px;
        width: 50%;
    }

    .center-box img {
        border-radius: 250px;
        width: 50%;
    }
    
    .img-list li {
        display: block;
        width: 100%;
    }
    
}

@media only screen and (max-width: 620px) {
    
    .main-menu .row {
       width: 100%;
    }
    
    .main-menu li {
        display: block;
        border-bottom: 1px solid #f5f5f5;
    }
    
    .right-box img {
        width: 80%;
    }

    .center-box img {
        width: 80%;
    }
}

@media only screen and (max-width: 432px) {
    
    header h1 {
        font-size: 32px;
    }
    
    section h1 {
        text-align: center;
    }
    
    section hr {
        margin: 10px auto 0;
    }
    
    .personal-attributes li {
        font-size: 13px;
    }
    
    .main-menu li a {
        font-size: 14px;
    }
}

.back_top {
    text-decoration: none;
    color: #ffffff;
    background-color: #7a0000;
    padding: 10px;
    position: fixed;
    right: 15px;
    bottom: 20px;
    border-radius: 15px;
    font-size: 28px;
}